[project]
name = "aces-high-core"
version = "0.1.0"
requires-python = ">=3.12"
dependencies = []

[tool.black]
line-length = 120

[tool.ruff]
line-length = 120
target-version = "py312"
select = ["E", "F", "I"]

[tool.pytest.ini_options]
testpaths = ["tests"]
pythonpath = ["src"]


[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"